# Close Encounters Calculator
### Preamble: Session details
Start a Cloudera Machine Learning (CML) session on Cloudera which has the following sessions settings:

![Cloudera Machine Learning Session Settings](close-encounters/media/CloseEncountersSessionCML.JPG "Cloudera Machine Learning Session Settings")

### 1. Install requirements 
It might be you need to install some additional Python packages first time you run this code. Run the cell below.

In [1]:
#!pip install close-encounters==0.1.0

### 2. Library imports

In [2]:
# Python
import pandas as pd
pd.DataFrame.iteritems = pd.DataFrame.items # Hotfix since iteritems is deprecated
import numpy as np
from time import time
from close_encounters import CloseEncounters
import os
from pyspark.sql import SparkSession
from IPython.display import display, HTML

### 2. Close encounter algorithm settings

In [3]:
## Set Minimal Horizontal Separation in Nautical Miles (NM) 
h_dist_NM = 5

## Set Minimal Vertical Separation in Flight Levels (FL) 
v_dist_FL = 10

# Set Minimal Flight Level (FL)
# Note: All flight sections below this altitude are pruned before close encounter algorithm is applied.
v_cutoff_FL = 245

# Set resampling frequency 
freq_s = 1

# Set Maximal Interpolation Time in Minutes (min) 
# Note: Whenever a trajectory is missing a portion of the flight which takes longer than this time, it will not be interpolated. 
t_max = 10

### 3. Spark Session Initialization

In [4]:
# Initialize the Spark Session
spark = SparkSession.builder \
    .appName("CloseEncounters") \
    .config("spark.executor.memory", "5g") \
    .config("spark.driver.memory", "2g") \
    .config("spark.executor.cores", "1") \
    .config("spark.executor.instances", "10") \
    .config("spark.sql.shuffle.partitions", "100") \
    .config("spark.default.parallelism", "100") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .config("spark.rpc.message.maxSize", "512") \
    .getOrCreate()

# Display the Spark URL to monitor the process
# Get environment variables
engine_id = os.getenv('CDSW_ENGINE_ID')
domain = os.getenv('CDSW_DOMAIN')

# Format the URL
url = f"https://spark-{engine_id}.{domain}"

# Display the clickable URL
display(HTML(f'<a href="{url}">{url}</a>'))

Setting spark.hadoop.yarn.resourcemanager.principal to quinten.goens

### 4. Run on sample data

In [ ]:
%%time
# Initiate Close Encounters with Spark
ce = CloseEncounters(spark = spark)

# Load trajectories into close encounters
ce = ce.load_parquet_trajectories(
    parquet_path = 'data/flight_profiles_cpf_20240701_filtered.parquet',
    flight_id_col = 'FLIGHT_ID', 
    icao24_col = 'ICAO24',
    longitude_col = 'LONGITUDE',
    latitude_col = 'LATITUDE',
    time_over_col = 'TIME_OVER',
    flight_level_col = 'FLIGHT_LEVEL'
)

In [ ]:
%%time
# Find close encounters
ce_sdf = ce.find_close_encounters(
    h_dist_NM=h_dist_NM,
    v_dist_FL=v_dist_FL,
    v_cutoff_FL=v_cutoff_FL,
    freq_s=freq_s,
    t_max=t_max
)

# Convert from a Spark DataFrame (sdf) to Pandas Dataframe (pdf)
ce_pdf = ce_sdf.toPandas()

In [7]:
ce_pdf.to_parquet('data/ce_20240701_10FL_5NM_gtFL245_v6.parquet')

In [8]:
ce_pdf

,ID2,ID1,time_over,h3_group,ID,lat1,lon1,time1,flight_lvl1,flight_id1,icao241,lat2,lon2,time2,flight_lvl2,flight_id2,icao242,time_diff_s,v_dist_FL,h_dist_NM
0,68721659260,68721553066,2024-07-01 21:11:21,841e157ffffffff,68721553066_68721659260,47.292760,15.321823,2024-07-01 21:11:21,34000.0,ID_273727707,440C1B,47.292926,15.319435,2024-07-01 21:11:21,34000.0,ID_273728319,440C1B,0,0.0,0.097848
1,68721659272,68721553078,2024-07-01 21:11:33,841e143ffffffff,68721553078_68721659272,47.295885,15.287031,2024-07-01 21:11:33,34000.0,ID_273727707,440C1B,47.296037,15.284657,2024-07-01 21:11:33,34000.0,ID_273728319,440C1B,0,0.0,0.097198
2,68721659289,68721553095,2024-07-01 21:11:50,841e155ffffffff,68721553095_68721659289,47.300191,15.237743,2024-07-01 21:11:50,34000.0,ID_273727707,440C1B,47.300389,15.235278,2024-07-01 21:11:50,34000.0,ID_273728319,440C1B,0,0.0,0.101190
3,68721659426,68721553232,2024-07-01 21:14:07,841e109ffffffff,68721553232_68721659426,47.332921,14.839570,2024-07-01 21:14:07,34000.0,ID_273727707,440C1B,47.334639,14.837787,2024-07-01 21:14:07,34000.0,ID_273728319,440C1B,0,0.0,0.126232
4,68721659434,68721553240,2024-07-01 21:14:15,841e143ffffffff,68721553240_68721659434,47.334965,14.816146,2024-07-01 21:14:15,34000.0,ID_273727707,440C1B,47.336630,14.814611,2024-07-01 21:14:15,34000.0,ID_273728319,440C1B,0,0.0,0.117966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5872,652837027418,558347843547,2024-07-01 21:39:34,841f881ffffffff,558347843547_652837027418,47.346197,10.722490,2024-07-01 21:39:34,34000.0,ID_273727771,4D2245,47.347630,10.721370,2024-07-01 21:39:34,34000.0,ID_273728035,4D2245,0,0.0,0.097429
5873,652837027582,558347843711,2024-07-01 21:42:18,841f889ffffffff,558347843711_652837027582,47.654472,10.552167,2024-07-01 21:42:18,34000.0,ID_273727771,4D2245,47.656278,10.550944,2024-07-01 21:42:18,34000.0,ID_273728035,4D2245,0,0.0,0.119275
5874,652837027586,558347843715,2024-07-01 21:42:22,841f8ebffffffff,558347843715_652837027586,47.661917,10.548019,2024-07-01 21:42:22,34000.0,ID_273727771,4D2245,47.663722,10.546833,2024-07-01 21:42:22,34000.0,ID_273728035,4D2245,0,0.0,0.118658
5875,652837027616,558347843745,2024-07-01 21:42:52,841f8c7ffffffff,558347843745_652837027616,47.717296,10.517037,2024-07-01 21:42:52,34000.0,ID_273727771,4D2245,47.717643,10.516729,2024-07-01 21:42:52,34000.0,ID_273728035,4D2245,0,0.0,0.024289
5876,790274547990,77310099473,2024-07-01 10:45:19,841f911ffffffff,77310099473_790274547990,45.892667,5.886833,2024-07-01 10:45:19,38000.0,ID_273707019,4D2504,45.891215,5.884349,2024-07-01 10:45:19,38000.0,ID_273704711,4D2247,0,0.0,0.135693

In [7]:
ce_pdf

,ID2,ID1,time_over,h3_group,ID,lat1,lon1,time1,flight_lvl1,flight_id1,icao241,lat2,lon2,time2,flight_lvl2,flight_id2,icao242,time_diff_s,v_dist_FL,h_dist_NM
0,137439090770,128849216314,2024-07-01 09:44:30,841faabffffffff,128849216314_137439090770,49.402738,9.354444,2024-07-01 09:44:30,369.857143,ID_273707946,896536,49.463254,9.384881,2024-07-01 09:44:30,360.000000,ID_273705373,3C54A4,0,9.857143,3.827026
1,188978914205,137439311525,2024-07-01 18:17:40,841f9b3ffffffff,137439311525_188978914205,44.394944,9.361056,2024-07-01 18:17:40,370.000000,ID_273723455,398E24,44.438444,9.384556,2024-07-01 18:17:40,379.000000,ID_273722254,502D46,0,-9.000000,2.802531
2,214748484137,154618980217,2024-07-01 10:42:35,841e337ffffffff,154618980217_214748484137,48.192381,15.580595,2024-07-01 10:42:35,370.000000,ID_273708896,4D24B6,48.249259,15.532315,2024-07-01 10:42:35,360.666667,ID_273706355,4D24B5,0,9.333333,3.927615
3,274878108413,60129757424,2024-07-01 10:33:40,8439559ffffffff,60129757424_274878108413,39.641713,0.827176,2024-07-01 10:33:40,350.166667,ID_273709740,345686,39.683750,0.798194,2024-07-01 10:33:40,360.000000,ID_273708514,4CAE52,0,-9.833333,2.860502
4,274878322168,51539990214,2024-07-01 20:27:50,841ec53ffffffff,51539990214_274878322168,42.682222,25.695417,2024-07-01 20:27:50,360.250000,ID_273726269,4866DF,42.701944,25.589841,2024-07-01 20:27:50,370.000000,ID_273725397,4BAAD0,0,-9.750000,4.812471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12150,841813725632,824633796063,2024-07-01 09:41:45,841faebffffffff,824633796063_841813725632,49.852778,8.789537,2024-07-01 09:41:45,369.833333,ID_273698243,3C6710,49.916270,8.753929,2024-07-01 09:41:45,360.000000,ID_273705950,405F13,0,9.833333,4.057808
12151,841813835888,420907030731,2024-07-01 13:24:05,841e8c1ffffffff,420907030731_841813835888,42.077500,16.104352,2024-07-01 13:24:05,360.000000,ID_273713050,4CADC2,42.016204,16.046111,2024-07-01 13:24:05,369.000000,ID_273712871,471EFE,0,-9.000000,4.509084
12152,841813961962,309238062589,2024-07-01 19:13:20,841e80dffffffff,309238062589_841813961962,42.037167,12.029333,2024-07-01 19:13:20,359.400000,ID_273722644,4CA90A,41.978278,11.955444,2024-07-01 19:13:20,350.000000,ID_273725287,46B8A8,0,9.400000,4.839331
12153,850403680669,266288114374,2024-07-01 08:57:20,841e329ffffffff,266288114374_850403680669,48.769769,13.692083,2024-07-01 08:57:20,330.000000,ID_273704372,49D232,48.746667,13.686111,2024-07-01 08:57:20,339.500000,ID_273706301,471F63,0,-9.500000,1.408591
12154,850404037546,532576344537,2024-07-01 22:44:20,841fa07ffffffff,532576344537_850404037546,50.176111,6.334444,2024-07-01 22:44:20,360.000000,ID_273726660,4CA762,50.143426,6.396852,2024-07-01 22:44:20,369.666667,ID_273730027,406F72,0,-9.666667,3.103973

In [8]:
pd.read_parquet('data/ce_20240701_10FL_5NM_gtFL245_v4.parquet')

,ID2,ID1,time_over,h3_group,ID,lat1,lon1,time1,flight_lvl1,flight_id1,icao241,lat2,lon2,time2,flight_lvl2,flight_id2,icao242,time_diff_s,v_dist_FL,h_dist_NM
0,137439090770,128849216314,2024-07-01 09:44:30,841faabffffffff,128849216314_137439090770,49.402738,9.354444,2024-07-01 09:44:30,369.857143,ID_273707946,896536,49.463254,9.384881,2024-07-01 09:44:30,360.000000,ID_273705373,3C54A4,0,9.857143,3.827026
1,188978914205,137439311525,2024-07-01 18:17:40,841f9b3ffffffff,137439311525_188978914205,44.394944,9.361056,2024-07-01 18:17:40,370.000000,ID_273723455,398E24,44.438444,9.384556,2024-07-01 18:17:40,379.000000,ID_273722254,502D46,0,-9.000000,2.802531
2,214748484137,154618980217,2024-07-01 10:42:35,841e337ffffffff,154618980217_214748484137,48.192381,15.580595,2024-07-01 10:42:35,370.000000,ID_273708896,4D24B6,48.249259,15.532315,2024-07-01 10:42:35,360.666667,ID_273706355,4D24B5,0,9.333333,3.927615
3,274878108413,60129757424,2024-07-01 10:33:40,8439559ffffffff,60129757424_274878108413,39.641713,0.827176,2024-07-01 10:33:40,350.166667,ID_273709740,345686,39.683750,0.798194,2024-07-01 10:33:40,360.000000,ID_273708514,4CAE52,0,-9.833333,2.860502
4,274878322168,51539990214,2024-07-01 20:27:50,841ec53ffffffff,51539990214_274878322168,42.682222,25.695417,2024-07-01 20:27:50,360.250000,ID_273726269,4866DF,42.701944,25.589841,2024-07-01 20:27:50,370.000000,ID_273725397,4BAAD0,0,-9.750000,4.812471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12150,841813725632,824633796063,2024-07-01 09:41:45,841faebffffffff,824633796063_841813725632,49.852778,8.789537,2024-07-01 09:41:45,369.833333,ID_273698243,3C6710,49.916270,8.753929,2024-07-01 09:41:45,360.000000,ID_273705950,405F13,0,9.833333,4.057808
12151,841813835888,420907030731,2024-07-01 13:24:05,841e8c1ffffffff,420907030731_841813835888,42.077500,16.104352,2024-07-01 13:24:05,360.000000,ID_273713050,4CADC2,42.016204,16.046111,2024-07-01 13:24:05,369.000000,ID_273712871,471EFE,0,-9.000000,4.509084
12152,841813961962,309238062589,2024-07-01 19:13:20,841e80dffffffff,309238062589_841813961962,42.037167,12.029333,2024-07-01 19:13:20,359.400000,ID_273722644,4CA90A,41.978278,11.955444,2024-07-01 19:13:20,350.000000,ID_273725287,46B8A8,0,9.400000,4.839331
12153,850403680669,266288114374,2024-07-01 08:57:20,841e329ffffffff,266288114374_850403680669,48.769769,13.692083,2024-07-01 08:57:20,330.000000,ID_273704372,49D232,48.746667,13.686111,2024-07-01 08:57:20,339.500000,ID_273706301,471F63,0,-9.500000,1.408591
12154,850404037546,532576344537,2024-07-01 22:44:20,841fa07ffffffff,532576344537_850404037546,50.176111,6.334444,2024-07-01 22:44:20,360.000000,ID_273726660,4CA762,50.143426,6.396852,2024-07-01 22:44:20,369.666667,ID_273730027,406F72,0,-9.666667,3.103973

In [9]:
import math
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import col, lag, udf
from pyspark.sql.types import DoubleType

def calculate_bearing(lat1, lon1, lat2, lon2):
    """
    Calculate the initial bearing (forward azimuth) between two points
    specified in decimal degrees using the great-circle formula.

    Parameters:
        lat1 (float): Latitude of the first point.
        lon1 (float): Longitude of the first point.
        lat2 (float): Latitude of the second point.
        lon2 (float): Longitude of the second point.

    Returns:
        float: Initial bearing in degrees, normalized to [0, 360).
    """
    if None in (lat1, lon1, lat2, lon2):
        return None

    lat1_rad = math.radians(lat1)
    lat2_rad = math.radians(lat2)
    delta_lon_rad = math.radians(lon2 - lon1)

    x = math.sin(delta_lon_rad) * math.cos(lat2_rad)
    y = (math.cos(lat1_rad) * math.sin(lat2_rad) -
         math.sin(lat1_rad) * math.cos(lat2_rad) * math.cos(delta_lon_rad))

    bearing_rad = math.atan2(x, y)
    bearing_deg = math.degrees(bearing_rad)

    return (bearing_deg + 360) % 360


# Register UDF
calculate_bearing_udf = udf(calculate_bearing, DoubleType())

# Assume `resampled_sdf` is your existing DataFrame
# Define window for each flight ordered by timestamp
window_spec = Window.partitionBy("flight_id").orderBy("time_over")

# Add previous point's latitude and longitude
resampled_sdf = resampled_sdf.withColumn(
    "prev_latitude", lag("latitude").over(window_spec)
)
resampled_sdf = resampled_sdf.withColumn(
    "prev_longitude", lag("longitude").over(window_spec)
)

# Compute heading using the UDF
resampled_sdf = resampled_sdf.withColumn(
    "heading",
    calculate_bearing_udf(
        col("prev_latitude"),
        col("prev_longitude"),
        col("latitude"),
        col("longitude")
    )
)

In [10]:
resampled_pdf = resampled_sdf.limit(20000).toPandas()

In [11]:
resampled_pdf

,time_over,flight_level,latitude,longitude,flight_id,icao24,is_ts_interpolated,segment_id,prev_latitude,prev_longitude,heading
0,2024-07-01 12:00:15,370.0,65.029722,-6.206111,273696561.0,3965AF,False,1432,NaN,NaN,NaN
1,2024-07-01 12:00:20,370.0,65.020000,-6.200083,273696561.0,3965AF,True,1433,65.029722,-6.206111,165.327592
2,2024-07-01 12:00:25,370.0,65.010278,-6.194056,273696561.0,3965AF,True,1434,65.020000,-6.200083,165.322479
3,2024-07-01 12:00:30,370.0,65.000556,-6.188028,273696561.0,3965AF,True,1435,65.010278,-6.194056,165.317367
4,2024-07-01 12:00:35,370.0,64.990833,-6.182000,273696561.0,3965AF,True,1436,65.000556,-6.188028,165.312255
...,...,...,...,...,...,...,...,...,...,...,...
19995,2024-07-01 13:32:10,380.0,41.479722,41.306111,273697355.0,4406DE,False,26171,41.478148,41.321343,277.858780
19996,2024-07-01 13:32:15,380.0,41.481065,41.292917,273697355.0,4406DE,True,26172,41.479722,41.306111,277.738986
19997,2024-07-01 13:32:20,380.0,41.482407,41.279722,273697355.0,4406DE,True,26173,41.481065,41.292917,277.739145
19998,2024-07-01 13:32:25,380.0,41.483750,41.266528,273697355.0,4406DE,True,26174,41.482407,41.279722,277.739303
19999,2024-07-01 13:32:30,380.0,41.485093,41.253333,273697355.0,4406DE,True,26175,41.483750,41.266528,277.739462

In [15]:
!pip uninstall -f plotly

Usage:
  pip uninstall [options] <package> ...
  pip uninstall [options] -r <requirements file> ...

no such option: -f

In [9]:
import plotly.express as px
px.scatter(resampled_pdf, x = 'lat', y = 'lon')

ModuleNotFoundError: No module named 'plotly'

In [ ]:
ce.

In [10]:
ce = ce.find_close_encounters()

Skipping resample: Already done (w. freq_s = 5 and t_max = 10)

In [11]:
ce.show()

+-----------+----------+-------------------+---------------+--------------------+------------------+------------------+-------------------+------------------+------------+-------+------------------+------------------+-------------------+-----------------+------------+-------+-----------+------------------+------------------+
|        ID2|       ID1|          time_over|       h3_group|                  ID|              lat1|              lon1|              time1|       flight_lvl1|  flight_id1|icao241|              lat2|              lon2|              time2|      flight_lvl2|  flight_id2|icao242|time_diff_s|         v_dist_FL|         h_dist_NM|
+-----------+----------+-------------------+---------------+--------------------+------------------+------------------+-------------------+------------------+------------+-------+------------------+------------------+-------------------+-----------------+------------+-------+-----------+------------------+------------------+
|     869136|    574670|2024-07-01 13:04:05|8439255ffffffff|       574670_869136|42.537129629629625| -8.11185185185185|2024-07-01 13:04:05|             350.0|ID_273710623| 4D2505|  42.5711111111111|-8.209444444444443|2024-07-01 13:04:05|340.1666666666667|ID_273711814| 4010DA|          0| 9.833333333333314| 4.779494292087601|
|     993085|    225312|2024-07-01 12:03:20|8419493ffffffff|       225312_993085| 49.63899999999999|  2.40783333333333|2024-07-01 12:03:20|             330.2|ID_273707601| 40768C|            49.647| 2.530499999999996|2024-07-01 12:03:20|            340.0|ID_273712261| 4B180B|          0|-9.800000000000011| 4.798560020294729|
|    1349040|    453911|2024-07-01 12:17:45|841ec89ffffffff|      453911_1349040| 41.16550925925925|27.752037037037027|2024-07-01 12:17:45|255.83333333333334|ID_273709891| 502D37| 41.19055555555555|27.665138888888883|2024-07-01 12:17:45|            248.5|ID_273713423| 4BC847|          0| 7.333333333333343| 4.209674936361626|
|    1746725|   1732821|2024-07-01 13:32:40|841e0a3ffffffff|     1732821_1746725|46.325357142857136|22.422539682539675|2024-07-01 13:32:40|             370.0|ID_273714713| 48C134| 46.32345238095237| 22.50436507936507|2024-07-01 13:32:40|360.2857142857143|ID_273714761| 4BA9A8|          0| 9.714285714285722|3.3983345106742338|
|    1882779|   1759439|2024-07-01 13:44:35|841e819ffffffff|     1759439_1882779|42.557500000000005|14.829166666666659|2024-07-01 13:44:35|             359.0|ID_273714789| 471F7A|42.491944444444435|14.787500000000001|2024-07-01 13:44:35|            350.0|ID_273715362| 4D22B5|          0|               9.0| 4.351181333691727|
| 8590601417|8590372381|2024-07-01 12:17:30|841e895ffffffff|8590372381_859060...|40.856944444444444|17.595277777777774|2024-07-01 12:17:30|             349.6|ID_273709599| 3C6465| 40.86022222222221| 17.52077777777777|2024-07-01 12:17:30|            340.0|ID_273710902| 4BAA8C|          0| 9.600000000000023|3.3925023489834696|
| 8590676203|    510609|2024-07-01 12:29:35|841e859ffffffff|   510609_8590676203| 43.14749999999999|13.875555555555552|2024-07-01 12:29:35|             389.2|ID_273710259| 471843| 43.17794444444444| 13.96344444444444|2024-07-01 12:29:35|            380.0|ID_273711229| 39CEB7|          0| 9.199999999999989| 4.265701781114543|
| 8590907687|    149066|2024-07-01 12:22:55|843e66bffffffff|   149066_8590907687|30.976234567901233|31.225679012345672|2024-07-01 12:22:55|             360.0|ID_273704254| 4BB06B|30.919555555555547| 31.23616666666666|2024-07-01 12:22:55|            350.1|ID_273712087| 717CB3|          0| 9.899999999999977| 3.449404301194347|
| 8591721397|   1602840|2024-07-01 13:45:55|841e919ffffffff|  1602840_8591721397| 40.07402777777777|11.792222222222216|2024-07-01 13:45:55|             360.0|ID_273714235| 4D2222| 40.01912037037036| 11.82796296296296|2024-07-01 13:45:55|369.1666666666667|ID_273714608| 34714D|          0|-9.166666666666686| 3.687328027020788|
| 8591889793|   1958624|2024-07-01 13:28:55|841e9d1ffffffff|  1958624_8591889793|40.061944444444435| 14.08493055555555|2024-07-01 13:28:55|             340.0|ID_273715758| 4CADDE| 40.07069444444444|14.080138888888884|2024-07-01 13:28:55|            349.5|ID_273715178| 4D2420|          0|              -9.5|0.5702510081841647|
| 8592100473|8590338178|2024-07-01 13:51:50|841e833ffffffff|8590338178_859210...| 40.83549999999999|14.362666666666662|2024-07-01 13:51:50|             339.4|ID_273709356| 4D2532|40.811611111111105|14.427388888888887|2024-07-01 13:51:50|            330.0|ID_273716399| 4CADA8|          0| 9.399999999999977|3.2753467620880663|
|17180011133|8591523840|2024-07-01 12:32:15|841f98dffffffff|8591523840_171800...| 45.32740740740741|  7.99490740740741|2024-07-01 12:32:15|             350.0|ID_273714019| 347257|  45.3636111111111| 7.937777777777776|2024-07-01 12:32:15|359.6666666666667|ID_273709151| 3C6429|          0|-9.666666666666686|3.2495990971059423|
|17180249145|    945918|2024-07-01 12:51:55|841f8bdffffffff|  945918_17180249145|46.274333333333324| 10.82088888888888|2024-07-01 12:51:55|             380.0|ID_273712118| 406442|46.290833333333325|10.775277777777776|2024-07-01 12:51:55|            389.2|ID_273712351| 4D2415|          0|-9.199999999999989| 2.138541674223919|
|17180357557|8591940699|2024-07-01 13:37:30|841faebffffffff|8591940699_171803...| 50.06231481481481| 8.864722222222223|2024-07-01 13:37:30|             340.0|ID_273715435| 3453C3| 50.02037037037037| 8.963379629629626|2024-07-01 13:37:30|349.8333333333333|ID_273713274| 406D4C|          0|-9.833333333333314| 4.567288986547261|
|17180373669|    853232|2024-07-01 13:34:50|841e197ffffffff|  853232_17180373669| 45.25546296296296|20.169398148148144|2024-07-01 13:34:50| 340.1666666666667|ID_273711758| 45D069|45.333564814814814| 20.16592592592592|2024-07-01 13:34:50|            350.0|ID_273713383| 4BC893|          0|-9.833333333333314| 4.696718944686503|
|17180498564|   1194705|2024-07-01 13:35:50|841e147ffffffff| 1194705_17180498564| 47.10287037037036|14.126851851851846|2024-07-01 13:35:50|             380.0|ID_273712975| 4080A4| 47.11564814814814| 14.10768518518518|2024-07-01 13:35:50|            371.0|ID_273714321| 73805C|          0|               9.0|1.0975649733383506|
| 8590303394|   1405102|2024-07-01 13:05:25|841ec61ffffffff|  1405102_8590303394| 41.88407407407407| 21.68805555555555|2024-07-01 13:05:25| 360.3333333333333|ID_273713601| 40756D| 41.84152777777777| 21.61319444444444|2024-07-01 13:05:25|            370.0|ID_273709081| 40768B|          0|-9.666666666666686| 4.215394704677746|
| 8590455060|    695830|2024-07-01 12:06:00|841fa93ffffffff|   695830_8590455060|50.214548611111105|12.186874999999995|2024-07-01 12:06:00|           360.625|ID_273711122| 4D247A|50.255370370370365|12.150370370370362|2024-07-01 12:06:00|369.6666666666667|ID_273710082| 4CAC7B|          0|-9.041666666666686|2.8266849589160317|
| 8590573158|   1097501|2024-07-01 12:40:35|841e14bffffffff|  1097501_8590573158| 47.80111111111111| 15.34055555555555|2024-07-01 12:40:35|             349.0|ID_273712687| 3C4A03| 47.80351851851851|15.417685185185181|2024-07-01 12:40:35|            340.0|ID_273710746| 4A3121|          0|               9.0| 3.117309211848381|
| 8590723417|8590323611|2024-07-01 12:11:15|841ee19ffffffff|8590323611_859072...| 45.31027777777777| 24.01944444444444|2024-07-01 12:11:15|             371.0|ID_273709236| 4BA904|45.331111111111106|24.031851851851844|2024-07-01 12:11:15|            380.0|ID_273711430| 49D232|          0|              -9.0| 1.357578334508301|
+-----------+----------+-------------------+---------------+--------------------+------------------+------------------+-------------------+------------------+------------+-------+------------------+------------------+-------------------+-----------------+------------+-------+-----------+------------------+------------------+
only showing top 20 rows

In [12]:
df = load_sample_trajectories()
encounters_df = CloseEncountersH3HalfDisk(
    df, 
    distance_nm = horizontal_separation_NM, 
    FL_diff = vertical_separation_FL, 
    FL_min = minimal_FL, 
    deltaT_min = deltaT_min, 
    pnumb = 100, 
    spark = spark)

NameError: name 'CloseEncountersH3HalfDisk' is not defined

In [ ]:
create_keplergl_html(encounters_df)

TypeError: CloseEncounters.__init__() missing 1 required positional argument: 'spark'