In [1]:
from resolutionselector import select_resolution
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import (
    udf, col, explode, lit, collect_list
)
from pyspark.sql.functions import (
    udf, col, explode, monotonically_increasing_id, radians,
    sin, cos, sqrt, atan2, lit, collect_list, expr, posexplode
)

from pyspark.sql.types import (
    StringType, ArrayType, StructType, StructField, DoubleType, IntegerType
)
from pyspark.sql import Window

import h3
import pandas as pd
import numpy as np
from datetime import datetime


# -----------------------------------------------------------------------------
# Spark Configuration
# -----------------------------------------------------------------------------
spark = SparkSession.builder \
    .appName("CloseEncountersH3") \
    .config("spark.driver.memory", "12g") \
    .config("spark.executor.memory", "10g") \
    .config("spark.rpc.message.maxSize", 1028) \
    .getOrCreate()

25/04/25 17:10:04 WARN Utils: Your hostname, Quintens-Laptop.local resolves to a loopback address: 127.0.0.1; using 10.130.79.222 instead (on interface en0)
25/04/25 17:10:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/25 17:10:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [8]:
# -----------------------------------------------------------------------------
# Settings
# -----------------------------------------------------------------------------
distance_nm = 5
resolution = 6  # select_resolution(distance_km)
earth_radius_km = 6378
print(f"The selected resolution for a distance of {distance_nm} NM is: {resolution}")

# -----------------------------------------------------------------------------
# Load and Filter Data
# -----------------------------------------------------------------------------
coords_df = pd.read_parquet('~/Repos/close-encounters/data/flight_profiles_cpf_20240701_filtered.parquet')
f = np.logical_and(coords_df.TIME_OVER >= datetime(2024,7,1,12,0,0), coords_df.TIME_OVER<= datetime(2024,7,1,13,0,0))
coords_df = coords_df[f]
coords_df['SEGMENT_ID'] = coords_df.index
coords_df = coords_df[coords_df.FLIGHT_LEVEL > 250]
coords_df = coords_df[['FLIGHT_ID', 'SEGMENT_ID', 'LONGITUDE', 'LATITUDE', 'TIME_OVER', 'FLIGHT_LEVEL']].rename(
    columns={
        'LATITUDE': 'latitude', 
        'LONGITUDE': 'longitude'
        }
    )
coords_df = spark.createDataFrame(coords_df)
coords_df = coords_df.repartition(100, ["FLIGHT_ID", "SEGMENT_ID"])
# -----------------------------------------------------------------------------
# Define UDFs for H3
# -----------------------------------------------------------------------------
def lat_lon_to_h3(lat, lon, resolution):
    return h3.latlng_to_cell(lat, lon, resolution)

def grid_disk_k1(cell):
    return h3.grid_disk(cell, k=1)

lat_lon_to_h3_udf = udf(lat_lon_to_h3, StringType())
grid_disk_k1_udf = udf(grid_disk_k1, ArrayType(StringType()))

# Add H3 index and neighbors
coords_df = coords_df.withColumn("h3_index", lat_lon_to_h3_udf(col("latitude"), col("longitude"), lit(resolution)))
coords_df = coords_df.withColumn("h3_neighbours", grid_disk_k1_udf(col("h3_index")))

# -----------------------------------------------------------------------------
# Explode neighbors and group by h3_neighbour to collect IDs when there's multiple FLIGHT_ID in a cell
# -----------------------------------------------------------------------------
exploded_df = coords_df.withColumn("h3_neighbour", explode(col("h3_neighbours")))

grouped_df = (exploded_df.groupBy("h3_neighbour")
              .agg(F.countDistinct("FLIGHT_ID").alias("flight_count"),
                   F.collect_list("SEGMENT_ID").alias("id_list"))
              .filter(F.col("flight_count") > 1)
              .drop("flight_count"))

grouped_df = grouped_df.filter(F.size("id_list") > 1)

# -----------------------------------------------------------------------------
# Create pairwise combinations using self-join on indexed exploded DataFrame
# -----------------------------------------------------------------------------
# Explode id_list to individual rows and add index within each h3 group
df_exploded = grouped_df.withColumn("SEGMENT_ID", explode("id_list"))
window_spec = Window.partitionBy("h3_neighbour").orderBy("SEGMENT_ID")
df_indexed = df_exploded.withColumn("idx", F.row_number().over(window_spec))

# Self-join to form unique unordered ID pairs
df_pairs = (
    df_indexed.alias("df1")
    .join(
        df_indexed.alias("df2"),
        (F.col("df1.h3_neighbour") == F.col("df2.h3_neighbour")) &
        (F.col("df1.idx") < F.col("df2.idx"))
    )
    .select(
        F.col("df1.h3_neighbour").alias("h3_group"),
        F.col("df1.SEGMENT_ID").alias("ID1"),
        F.col("df2.SEGMENT_ID").alias("ID2")
    )
)

# -----------------------------------------------------------------------------
# Clean Pairs, Create Unique Pair ID
# -----------------------------------------------------------------------------
df_pairs = df_pairs.filter(col("ID1") != col("ID2")) # should not be necessary as we join on < not <=
df_pairs = df_pairs.withColumn(
    "ID",
    F.concat_ws("_", F.array_sort(F.array(col("ID1").cast("int"), col("ID2").cast("int"))))
)
from pyspark.sql import Window
from pyspark.sql import functions as F

# Define a window partitioned by ID, ordering arbitrarily (or by some column if needed)
window_spec = Window.partitionBy("ID").orderBy(F.monotonically_increasing_id())

# Add row number to each partition
df_pairs = df_pairs.withColumn("row_num", F.row_number().over(window_spec))

# Keep only the first row per ID
df_pairs = df_pairs.filter(F.col("row_num") == 1).drop("row_num")

# -----------------------------------------------------------------------------
# Join with Original Coordinates for Each ID
# -----------------------------------------------------------------------------
coords_sdf1 = coords_df.withColumnRenamed("SEGMENT_ID", "ID1") \
    .withColumnRenamed("latitude", "lat1") \
    .withColumnRenamed("longitude", "lon1") \
    .withColumnRenamed("TIME_OVER", "time1") \
    .withColumnRenamed("FLIGHT_LEVEL", 'flight_lvl1') \
    .withColumnRenamed("FLIGHT_ID", "flight_id1") \
    .select("ID1", "lat1", "lon1", "time1", "flight_lvl1", "flight_id1")

coords_sdf2 = coords_df.withColumnRenamed("SEGMENT_ID", "ID2") \
    .withColumnRenamed("latitude", "lat2") \
    .withColumnRenamed("longitude", "lon2") \
    .withColumnRenamed("TIME_OVER", "time2") \
    .withColumnRenamed("FLIGHT_LEVEL", 'flight_lvl2') \
    .withColumnRenamed("FLIGHT_ID", "flight_id2") \
    .select("ID2", "lat2", "lon2", "time2", "flight_lvl2", "flight_id2")

coords_sdf1 = coords_sdf1.repartition(100, "ID1")
coords_sdf2 = coords_sdf2.repartition(100, "ID2")

df_pairs = df_pairs.join(coords_sdf1, on="ID1", how="left")
df_pairs = df_pairs.join(coords_sdf2, on="ID2", how="left")

# -----------------------------------------------------------------------------
# Calculate and filter based on time differense (s)
# -----------------------------------------------------------------------------
df_pairs = df_pairs.withColumn('time_diff_s', F.unix_timestamp(F.col("time1")) - F.unix_timestamp(F.col("time2")))
df_pairs = df_pairs.filter(F.abs(F.col('time_diff_s')) < 6)

# -----------------------------------------------------------------------------
# Calculate and filter based on height differense (s)
# -----------------------------------------------------------------------------
df_pairs = df_pairs.withColumn('FL_diff', F.col("flight_lvl1") - F.col("flight_lvl2"))
df_pairs = df_pairs.filter(F.abs(F.col('FL_diff')) <= 9.5)

# -----------------------------------------------------------------------------
# Calulate and filter based on distance (km)
# -----------------------------------------------------------------------------

df_pairs = df_pairs.withColumn(
    "distance_nm",
    0.539957 * 2 * earth_radius_km * atan2(
        sqrt(
            (sin(radians(col("lat2")) - radians(col("lat1"))) / 2)**2 +
            cos(radians(col("lat1"))) * cos(radians(col("lat2"))) *
            (sin(radians(col("lon2")) - radians(col("lon1"))) / 2)**2
        ),
        sqrt(1 - (
            (sin(radians(col("lat2")) - radians(col("lat1"))) / 2)**2 +
            cos(radians(col("lat1"))) * cos(radians(col("lat2"))) *
            (sin(radians(col("lon2")) - radians(col("lon1"))) / 2)**2
        ))
    )
)

df_pairs = df_pairs.filter(col('distance_nm') <= lit(distance_nm))

# -----------------------------------------------------------------------------
# Fetch sample
# -----------------------------------------------------------------------------

df_pairs.cache()
df = df_pairs.toPandas()
#print(f"Number of unique ID pairs: {df_pairs.count()}")

The selected resolution for a distance of 5 NM is: 6

25/04/25 17:15:27 WARN TaskSetManager: Stage 105 contains a task of very large size (1543 KiB). The maximum recommended task size is 1000 KiB.
25/04/25 17:15:28 WARN TaskSetManager: Stage 106 contains a task of very large size (1543 KiB). The maximum recommended task size is 1000 KiB.

In [9]:
df = df_pairs.toPandas()

In [11]:
df

,ID2,ID1,h3_group,ID,lat1,lon1,time1,flight_lvl1,flight_id1,lat2,lon2,time2,flight_lvl2,flight_id2,time_diff_s,FL_diff,distance_nm
0,5344693,1477301,861e1d61fffffff,1477301_5344693,46.483333,20.140833,2024-07-01 12:24:55,371.0,273709925.0,46.467500,20.024722,2024-07-01 12:24:55,380.0,273705851.0,0,-9.0,4.899530
1,4264077,2001145,861f8ba07ffffff,2001145_4264077,46.965000,12.386944,2024-07-01 12:42:05,310.0,273714985.0,46.963889,12.389167,2024-07-01 12:42:06,310.0,273713103.0,-1,0.0,0.113002
2,2190884,1230097,861f86ba7ffffff,1230097_2190884,48.128056,5.518889,2024-07-01 12:46:09,370.0,273712458.0,48.116389,5.454722,2024-07-01 12:46:06,361.0,273713022.0,3,9.0,2.668393
3,5866755,5764432,863f4a8c7ffffff,5764432_5866755,33.109444,30.951389,2024-07-01 12:25:31,380.0,273705272.0,33.099444,30.950833,2024-07-01 12:25:27,371.0,273710784.0,4,9.0,0.601715
4,1880209,950881,861f800c7ffffff,950881_1880209,47.883333,7.006667,2024-07-01 12:06:45,371.0,273712803.0,47.903889,6.984444,2024-07-01 12:06:45,380.0,273709701.0,0,-9.0,1.525978
5,1020422,157940,86396189fffffff,157940_1020422,43.995833,2.730833,2024-07-01 12:00:56,381.0,273710833.0,43.971944,2.805278,2024-07-01 12:00:56,390.0,273710857.0,0,-9.0,3.525297
6,4183379,1686647,861ed921fffffff,1686647_4183379,38.886389,26.326389,2024-07-01 12:31:16,360.0,273713669.0,38.899722,26.339167,2024-07-01 12:31:18,351.0,273709150.0,-2,9.0,0.999801
7,4665435,274746,863969997ffffff,274746_4665435,43.672500,6.405833,2024-07-01 12:32:10,350.0,273713497.0,43.725556,6.318611,2024-07-01 12:32:10,341.0,273713124.0,0,9.0,4.953380
8,3564640,2841760,861ef566fffffff,2841760_3564640,43.860278,21.114167,2024-07-01 12:27:54,341.0,273711475.0,43.803056,21.085000,2024-07-01 12:27:58,350.0,273711509.0,-4,-9.0,3.664557
9,5165865,2667568,861eb5adfffffff,2667568_5165865,43.877778,10.381944,2024-07-01 12:04:52,370.0,273709181.0,43.902500,10.308889,2024-07-01 12:04:52,379.0,273710047.0,0,-9.0,3.496058
10,5010036,2620144,861fa9c2fffffff,2620144_5010036,50.365278,11.053056,2024-07-01 12:32:14,351.0,273705002.0,50.297500,11.034722,2024-07-01 12:32:09,360.0,273711455.0,5,-9.0,4.134164
11,4264092,2001160,861e160cfffffff,2001160_4264092,46.648056,13.730278,2024-07-01 12:49:35,330.0,273714985.0,46.645556,13.746389,2024-07-01 12:49:40,330.0,273713103.0,-5,0.0,0.681559
12,6346258,3507799,861ea5d87ffffff,3507799_6346258,45.860833,11.940556,2024-07-01 12:27:43,359.0,273709905.0,45.813611,11.931389,2024-07-01 12:27:43,350.0,273710438.0,0,9.0,2.864199
13,1807046,1339337,861fa150fffffff,1339337_1807046,50.457222,6.863333,2024-07-01 12:48:04,350.0,273712725.0,50.499444,6.857222,2024-07-01 12:48:00,341.0,273709619.0,4,9.0,2.548570
14,4122195,1834828,861f0c327ffffff,1834828_4122195,54.791944,15.996389,2024-07-01 12:47:54,370.0,273712311.0,54.727778,15.998056,2024-07-01 12:47:54,361.0,273712972.0,0,9.0,3.857263
15,1933988,1893683,861e8c487ffffff,1893683_1933988,41.786389,15.453333,2024-07-01 12:59:40,339.0,273708578.0,41.843333,15.496389,2024-07-01 12:59:40,330.0,273713802.0,0,9.0,3.928774
16,1175775,738637,861e1152fffffff,738637_1175775,46.756944,16.138889,2024-07-01 12:04:14,350.0,273712192.0,46.758333,16.233611,2024-07-01 12:04:14,341.0,273711901.0,0,9.0,3.901371
17,4264088,2001156,861e16017ffffff,2001156_4264088,46.735000,13.369444,2024-07-01 12:47:35,330.0,273714985.0,46.731944,13.385556,2024-07-01 12:47:40,330.0,273713103.0,-5,0.0,0.688664
18,4264080,2001148,861e16da7ffffff,2001148_4264080,46.904167,12.651944,2024-07-01 12:43:35,310.0,273714985.0,46.905278,12.650278,2024-07-01 12:43:35,310.0,273713103.0,0,0.0,0.095627
19,4184784,2321620,863f45a8fffffff,2321620_4184784,36.042222,29.585833,2024-07-01 12:58:24,341.0,273713315.0,36.032222,29.618611,2024-07-01 12:58:24,350.0,273709150.0,0,-9.0,1.702752
20,3041011,1775994,861f8a29fffffff,1775994_3041011,46.284444,10.764722,2024-07-01 12:52:02,389.0,273712351.0,46.284722,10.817778,2024-07-01 12:52:02,380.0,273712118.0,0,9.0,2.203894
21,3674054,595714,863966a57ffffff,595714_3674054,43.750000,0.746667,2024-07-01 12:03:18,361.0,273712037.0,43.671111,0.775278,2024-07-01 12:03:17,370.0,273708067.0,1,-9.0,4.901963
22,4264082,2001150,861e16c07ffffff,2001150_4264082,46.861111,12.836667,2024-07-01 12:44:35,310.0,273714985.0,46.861944,12.834722,2024-07-01 12:44:35,310.0,273713103.0,0,0.0,0.094314
23,2195947,2103940,861e1079fffffff,2103940_2195947,46.400833,14.938611,2024-07-01 12:32:08,381.0,273710576.0,46.354167,14.905278,2024-07-01 12:32:13,390.0,273711084.0,-5,-9.0,3.127055
24,4264094,2001162,861e162b7ffffff,2001162_4264094,46.605000,13.910833,2024-07-01 12:50:35,330.0,273714985.0,46.601389,13.928611,2024-07-01 12:50:40,330.0,273713103.0,-5,0.0,0.765564
25,5165892,4306620,861f9bc57ffffff,4306620_5165892,44.656389,8.548889,2024-07-01 12:17:38,370.0,273711740.0,44.633333,8.557222,2024-07-01 12:17:38,379.0,273710047.0,0,-9.0,1.430876
26,5225094,4953904,861fa9377ffffff,4953904_5225094,50.210000,12.152778,2024-07-01 12:06:23,369.0,273710082.0,50.227222,12.105278,2024-07-01 12:06:28,360.0,273711122.0,-5,9.0,2.099738
27,4264086,2001154,861e16117ffffff,2001154_4264086,46.778611,13.193333,2024-07-01 12:46:35,326.0,273714985.0,46.774722,13.206944,2024-07-01 12:46:40,327.0,273713103.0,-5,-1.0,0.607086
28,4840294,3303811,861e005afffffff,3303811_4840294,48.513611,17.685556,2024-07-01 12:22:46,331.0,273709465.0,48.554722,17.659722,2024-07-01 12:22:51,340.0,273710760.0,-5,-9.0,2.676420
29,4351477,952149,8639685a7ffffff,952149_4351477,42.890556,4.794722,2024-07-01 12:34:32,350.0,273709404.0,42.950278,4.765000,2024-07-01 12:34:33,341.0,273713957.0,-1,9.0,3.820654
30,5962685,5634457,861faead7ffffff,5634457_5962685,50.059167,8.790278,2024-07-01 12:29:50,400.0,273699477.0,50.070000,8.740000,2024-07-01 12:29:55,409.0,273711864.0,-5,-9.0,2.046273
31,4122194,1834827,861f0c327ffffff,1834827_4122194,54.728889,15.949167,2024-07-01 12:47:24,370.0,273712311.0,54.777222,16.054722,2024-07-01 12:47:24,361.0,273712972.0,0,9.0,4.673986
32,3052668,1604725,861ea2787ffffff,1604725_3052668,43.411667,11.150556,2024-07-01 12:09:05,360.0,273711546.0,43.370833,11.171111,2024-07-01 12:09:05,369.0,273708993.0,0,-9.0,2.613410
33,5928020,4549341,861ef2d0fffffff,4549341_5928020,42.476389,18.516111,2024-07-01 12:08:01,370.0,273710754.0,42.482500,18.606111,2024-07-01 12:07:58,361.0,273707039.0,3,9.0,4.006544
34,4785223,2782817,861ea0c4fffffff,2782817_4785223,44.922778,11.689167,2024-07-01 12:20:11,371.0,273709611.0,44.886389,11.653611,2024-07-01 12:20:14,380.0,273709630.0,-3,-9.0,2.659909
35,3735898,164288,861f8a0b7ffffff,164288_3735898,46.411667,10.110556,2024-07-01 12:42:12,299.0,273714472.0,46.360833,10.183889,2024-07-01 12:42:12,290.0,273713370.0,0,9.0,4.310454
36,4264081,2001149,861e16da7ffffff,2001149_4264081,46.882778,12.741667,2024-07-01 12:44:05,309.0,273714985.0,46.883889,12.740278,2024-07-01 12:44:05,310.0,273713103.0,0,-1.0,0.087840
37,5785860,2301623,861ea238fffffff,2301623_5785860,43.713889,11.711944,2024-07-01 12:16:32,350.0,273710597.0,43.740000,11.693611,2024-07-01 12:16:34,359.0,273707907.0,-2,-9.0,1.759909
38,4264089,2001157,861e16017ffffff,2001157_4264089,46.713056,13.458611,2024-07-01 12:48:05,330.0,273714985.0,46.710556,13.475556,2024-07-01 12:48:10,330.0,273713103.0,-5,0.0,0.714317
39,5098441,2070120,861f8b0a7ffffff,2070120_5098441,46.587778,11.700556,2024-07-01 12:28:38,339.0,273704677.0,46.531389,11.739167,2024-07-01 12:28:38,330.0,273712158.0,0,9.0,3.746206
40,4264085,2001153,861e16c5fffffff,2001153_4264085,46.799167,13.104167,2024-07-01 12:46:05,321.0,273714985.0,46.795556,13.118056,2024-07-01 12:46:10,322.0,273713103.0,-5,-1.0,0.611325
41,4264083,2001151,861e16c07ffffff,2001151_4264083,46.840278,12.925833,2024-07-01 12:45:05,310.0,273714985.0,46.841111,12.926111,2024-07-01 12:45:05,310.0,273713103.0,0,0.0,0.051374
42,5344692,1477300,861e1d6d7ffffff,1477300_5344692,46.466389,20.049444,2024-07-01 12:24:26,371.0,273709925.0,46.431667,20.106667,2024-07-01 12:24:23,380.0,273705851.0,3,-9.0,3.157762
43,4264079,2001147,861e16da7ffffff,2001147_4264079,46.924444,12.562778,2024-07-01 12:43:05,310.0,273714985.0,46.925556,12.561667,2024-07-01 12:43:05,310.0,273713103.0,0,0.0,0.080874
44,4181390,961620,861ea12c7ffffff,961620_4181390,44.663056,14.366389,2024-07-01 12:36:30,360.0,273709116.0,44.730278,14.304722,2024-07-01 12:36:25,360.0,273713526.0,5,0.0,4.823648
45,4264084,2001152,861e16c77ffffff,2001152_4264084,46.820000,13.015278,2024-07-01 12:45:35,316.0,273714985.0,46.820833,13.015833,2024-07-01 12:45:35,316.0,273713103.0,0,0.0,0.055055
46,6336568,2326763,861fb4b4fffffff,2326763_6336568,49.612778,2.451389,2024-07-01 12:03:03,331.0,273707601.0,49.620556,2.554722,2024-07-01 12:03:03,340.0,273712261.0,0,-9.0,4.051159
47,5581643,1947389,861e8506fffffff,1947389_5581643,43.183611,13.953333,2024-07-01 12:29:42,380.0,273711229.0,43.139167,13.884444,2024-07-01 12:29:40,389.0,273710259.0,2,-9.0,4.032211
48,5165864,2667567,861eb5aefffffff,2667567_5165864,43.921389,10.322222,2024-07-01 12:04:27,370.0,273709181.0,43.878056,10.364722,2024-07-01 12:04:27,379.0,273710047.0,0,-9.0,3.189371
49,4264087,2001155,861e16017ffffff,2001155_4264087,46.757222,13.281111,2024-07-01 12:47:05,329.0,273714985.0,46.753611,13.295833,2024-07-01 12:47:10,330.0,273713103.0,-5,-1.0,0.643941
50,6325561,928945,861e1c75fffffff,928945_6325561,46.608333,18.680278,2024-07-01 12:58:12,370.0,273700740.0,46.620278,18.666667,2024-07-01 12:58:15,361.0,273711440.0,-3,9.0,0.911726

In [20]:
coords_df = pd.read_parquet('~/Repos/close-encounters/data/flight_profiles_cpf_20240701_filtered.parquet')
coords_df['SEGMENT_ID'] = coords_df.index
coords_df = coords_df[coords_df.FLIGHT_LEVEL > 250]
coords_df = coords_df[['FLIGHT_ID', 'SEGMENT_ID', 'LONGITUDE', 'LATITUDE', 'TIME_OVER', 'FLIGHT_LEVEL', 'AIRCRAFT_TYPE']].rename(
    columns={
        'LATITUDE': 'latitude', 
        'LONGITUDE': 'longitude'
        }
    )

c1 = coords_df[['FLIGHT_ID', 'SEGMENT_ID', 'AIRCRAFT_TYPE']].rename(
    {'FLIGHT_ID':'FLIGHT_ID1', 'SEGMENT_ID':'ID1', 'AIRCRAFT_TYPE':'AC1'},axis=1)
c2 = coords_df[['FLIGHT_ID', 'SEGMENT_ID', 'AIRCRAFT_TYPE']].rename(
    {'FLIGHT_ID':'FLIGHT_ID2', 'SEGMENT_ID':'ID2', 'AIRCRAFT_TYPE':'AC2'},axis=1)

df = df.merge(c1, how='left').merge(c2, how='left')

In [21]:
coords_df['FLIGHT_ID'] = coords_df['FLIGHT_ID'].apply(str) + '_id'
df['FLIGHT_ID1'] = df['FLIGHT_ID1'].apply(str) + '_id'
df['FLIGHT_ID2'] = df['FLIGHT_ID2'].apply(str) + '_id'
coords_df = coords_df[coords_df.FLIGHT_ID.isin(df.FLIGHT_ID1.to_list() + df.FLIGHT_ID2.to_list())]

In [22]:
coords_df.to_parquet('coords.parquet')

In [23]:
df.to_parquet('pairs.parquet')

In [36]:
print(df[df.ID2 == 2557313].lon2.values[0])

0.6858333333333333

In [35]:
print(coords_df[coords_df.SEGMENT_ID == 2557313].longitude.values[0])

0.6858333333333333

In [135]:
df_pairs.toPandas()

,ID2,ID1,h3_group,ID,lat1,lon1,time1,flight_lvl1,flight_id1,lat2,lon2,time2,flight_lvl2,flight_id2,time_diff_s,FL_diff,distance_nm
0,3761964,1697528,861f98a17ffffff,1697528_3761964,45.657778,8.363333,2024-07-01 11:25:13,340.0,273711593.0,45.640833,8.326389,2024-07-01 11:25:13,349.0,273709970.0,0,-9.0,1.856592